body {text-align:center;background-color: rgb(30, 224, 195);margin-top: 50px;}
p{color: rgb(228, 15, 15);}
img{width: 300px;}
.título1{font-size: 50px;border: 10px solid #000000;}
.parágrafo1{font-size: 35px;}
.parágrafo2{font-size: 25px;}
.parágrafo3{font-size: 25px;}
.parágrafo4{font: size 25px;}
.título2{font-size: 30px;color:black;}